<div class="empty-space"></div>
<div class="home-container">
   <div>
   	  <h1> Welcome to my network</h1>
   </div>
   <div class="button-container">
     <div class="login-button-div">
	    <form method="get" action="/loginpage">
	      <input type="submit" value="LOGIN">
	    </form>
     </div>
     <div class="signup-button-div">
	    <form method="get" action="/signup">	
	      <input type="submit" value="SIGNUP">
	    </form>
     </div>
   </div>
</div>