<!DOCTYPE html>
<html>
<head>
	<title> Microblog app</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/jscolor.js"></script>
	<script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body>
<div class="top-container" id="banner-color">
  <nav>
	<div class="nav">
		<ul>
		  <li><a href="/"> Mini-twitter</a></li>	
		  <li><a href="/loginpage">Login</a></li>
		  <li><a href="/signup">Signup</a></li>
		  <li><a href="/allposts">Posts</a></li>
		  <li><a href="/mypage">MyPage</a></li>
		  <li><a href="/logout">Logout</a></li>
		</ul>

	</div>
  </nav>
</div>

<%= yield %>
</body>
</html>