<!DOCTYPE html>
<html>
<head>
	<title> Microblog app</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="top-container">
  <nav>
	<div class="nav">
		<ul>
			<li><a href="/"> Mini-twitter</a></li>	
			<li><a href="/about">About</a></li>
			<li><a href="/products">Posts</a></li>
			<li><a href="/contact">Login</a></li>
		</ul>

	</div>
  </nav>
</div>

<%= yield %>
</body>
</html>