<div class="empty-space"></div>
<div class="empty-space"></div>
<form method="POST" action="/login">
  <div class="email-div">
    <label for="email"> email </label>
	<input type="text" name="email">
  </div>
  <div class="password-div">
    <label for="password"> password </label>
	<input type="text" name="password">
  </div>
	<input type="submit">
</form>