<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="login-cont">
   <div class="login-div">
	  <h1>
	   	Enter your network
	  </h1>
   </div>
   <div class="login-form">
	<form method="POST" action="/login">
	  <div class="email-div">
	    <label for="email"> email </label>
		<input type="text" name="email">
	  </div>
	  <div class="password-div">
	    <label for="password"> password </label>
		<input type="text" name="password">
	  </div>
		<input type="submit">
	</form>
   </div>
</div>